In [11]:
import pandas as pd

### Use pandas to read csv file

In [12]:
weather = pd.read_csv('weather_data.csv')

In [13]:
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [22]:
temperature_data_df = weather[['Humidity','Pressure (millibars)','Temperature (C)']]
temperature_data_df.columns = ['humidity', 'pressure', 'temperature']
temperature_data_df.head(9)

   humidity  pressure  temperature
0      0.89   1015.13     9.472222
1      0.86   1015.63     9.355556
2      0.89   1015.94     9.377778
3      0.83   1016.41     8.288889
4      0.83   1016.51     8.755556
5      0.85   1016.66     9.222222
6      0.95   1016.72     7.733333
7      0.89   1016.84     8.772222
8      0.82   1017.37    10.822222

In [ ]:
def get_corelation(x,y):
    return 1